.hero{
	h1{
		max-width: 600px;
		padding-top: 70px;
	}
	.button-wrapper{
		margin-top: 50px;
	}
}

@media only screen and (max-width: $mobile-breakpoint){
	.hero{
		h1{
			padding-top: 30px;
		}
	}
}
