.page-content{
	max-width: 600px;
	padding-top: 50px;
	h3{
		color: $white;
		line-height: 40px;
		
	}
	h2{
		margin-bottom: 50px;;
	}
	p{
		font-size: 17px;
		color: $white;
		line-height: 30px;
	}

}
.work-page{
	.projects{
		margin-top: 75px;
	}
}

@media only screen and (max-width: $mobile-breakpoint){
	.page-content{
		padding-top: 30px;
	}
}