.projects{
	margin-top: 150px;
	&__list{
		width: 100%
	}
	&__item{
		display: inline-block;
		width: 50%;
		position: relative;
		h2{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			opacity: 0;
			transition: all 0.1s ease-in-out;
			z-index: 100;
		}
		img{
			width: 100%;
			transition: all 0.1s ease-in-out;
		}
		&:hover{
			img{
				filter: grayscale(100%);
    			opacity: 0.3;
			}
			h2{
				opacity: 1;
			}
		}
	}
}

.single-project{
	margin-top: 50px;

	&__heading{
		position: relative;
		h1{
			display: inline-block;
		}
		.button{
			display: inline-block;
		    position: absolute;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%);
		    text-transform: uppercase;
		    padding: 9px 20px;
		    font-size: 12px;
		}
		
	}

	.work-done{
		margin-top: 10px;
		span{
			color: $grey;
			padding: 5px 10px;	
			font-size: 14px;
			&:nth-child(1){
				padding-left: 0px;
			}		
		}
	}

	.description{
		color: $white;
		max-width: 500px;
		margin-top: 30px;
	}

	.gallery{
		display: flex;
		flex-flow: row wrap;
		margin-left: 0px; /* Adjustment for the gutter */
		width: 100%;
		margin-top: 50px;
		&__image{
			flex: auto;
		  	margin: 0 10px 10px 0; /* Some gutter */
		}	
	}
}

@media only screen and (max-width: $mobile-breakpoint){
	.projects{
		margin-top: 50px;
		&__item{
			width: 100%
		}
	}
	.single-project{
		&__heading{
			h1{
				display: block;
				width: 100%;
				margin-bottom: 20px;
			}
			.button{
				position: relative;
				transform: translate(0px);
				margin: 0;
			}
		}
		.work-done{
			margin-top: 30px;
		}
	}
}