.newsletter{
	position: fixed;
    bottom: 20px;
    right: 50PX;
    background-color: #fff;
    z-index: 100;
    padding: 40px;
    width: 450px;
    box-shadow: 0px 3px 5px -1px #e8e8e8;
    border-top: 5px solid #ffc403;
    &__inner{
    	position: relative;
    }
    &__title{
    	padding: 0px;
    	font-size: 22px;
    }
    &__text{

    }
    &__form{
    	text-align: center;
    }
    .input__block{
    	text-align: left;
    }
    &__status{
    	color: #ffc403;
    	padding-bottom: 10px;
    	.error{
    		padding-bottom: 10px;
    		color: #b93535;
    	}
    }
}
@media screen and (max-width: 570px) {
	.newsletter{
		left: 50%;
    	transform: translateX(-50%) !important;;
    	width: 90%;
	}
}