.product-container{
	margin-top: 50px;
	a{
		&:hover{
			text-decoration: none;
		}
	}
}
.product-item{
	margin-bottom: 60px;
	padding: 20px 20px;
	transition: all 0.1s ease-in-out;

	&__term{
		font-size: 12px;
	    font-weight: 500;
	    color: #666666;
	    text-transform: uppercase;
	    height: 35px;
	}
	&__image{
	    height: 200px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	}
	&__name{
		font-size: 14px;
    	color: #000;
    	font-weight: 600;
	}
	&:hover{
		box-shadow: 0px 0px 8px 1px #82828245;
	}
}

.single-product{
	.gallery__item_inner{
		height: 350px;
	}
	.gallery__main{
		.slick-list{
			top: 50%;
		}
		.slick-slide{
			position:relative;
			height: 300px;	
			img{
				position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%)
			}
		}
		.slick-arrow{
			border:none;
		}
	}
	.gallery__thumbs{
		.slick-list{
			top: 50%;
		}
		.slick-slide{
			position:relative;
			height: 100px;	
			opacity: 0.6;
			transition: all 0.1s ease-in-out;
			&.slick-current{
				opacity: 1;
			}
			img{
				position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			    width: 100%;
			}
		}
	}

	&__info{
		padding: 50px 80px 0px 60px;
		&__item{
			margin-bottom: 10px;
			span{
				font-size: 13px;
			    font-weight: 500;
			    text-transform: uppercase;
			    color: #242626;
			    padding-right: 10px;
			}
			a{
				font-size: 13px;
			}
		}
		&__text{
			font-size: 13px;
		}
		img{
			height: 20px;
			margin-bottom: 20px;
		}
		hr{
			 margin: 40px 0px;
		}
	}
	.product-extra{
		padding-top: 50px;
		&__solution-image{
 			width: 110px;
		    position: absolute;
		    float: left;
		    img{
		    	width: 100%;
		    }
		}
		&__text{
			position: relative;
		    float: left;
		    padding-left: 130px;
		    h3{
		    	font-size: 13px;
		    	color: #585858;
		    	font-weight: 600;
		    }
		    p{
				font-size: 13px;
		    	color: #585858;
		    }
		}
	}

	.accordion{
		.card-header{
			border: 0;
	    	background-color: unset;
		}
		.card{
			border:0;
	        border-bottom: 1px solid #e5e5e5 !important;
			padding-bottom: 10px;
		}
		h2{
			button{
				color: $secondary;
			    font-size: 14px;
			    font-weight: 600;
			    padding: 0;
			    width: 100%;
    			text-align: left;
			}
		}
	}
}
.downloads__item{
    height: 150px;
    display: block;
    width: 140px;
    border: 1px solid #e5e5e5;
    padding: 10px 12px;
    position: relative;
	color: $text;
	&.regular{
		color: $text;
		&:before{
			content: "";
			border-color: black transparent;
			border-style: solid;
		    border-width: 14px 14px 0px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -1px;
		    top: 6px;
		    transform: rotate(45deg);
		}		
		&:after{
				content: "";
		    border-color: white transparent;
		    border-style: solid;
		    border-width: 0px 14px 14px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -11px;
		    top: -4px;
		    transform: rotate(45deg);
		}		
		&__ext{

			color: $text;
		}
	}
	&.xls{
		color: $text;
		&:before{
			content: "";
			border-color: black transparent;
			border-style: solid;
		    border-width: 14px 14px 0px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -1px;
		    top: 6px;
		    transform: rotate(45deg);
		}		
		&:after{
				content: "";
		    border-color: white transparent;
		    border-style: solid;
		    border-width: 0px 14px 14px 14px;
		    height: 0px;
		    width: 0px;
		    position: absolute;
		    right: -11px;
		    top: -4px;
		    transform: rotate(45deg);
		}		
		&__ext{

			color: $text;
		}
	}
	
	
	&__text{
		color: $text;
	}
	&__size{
		color: $text;
	}
}
.related-products{
	padding-top: 40px;
	a{
		text-decoration: none;
	}
}
.product-filter{
	&__heading{
		&__title{
			display: inline-block;
			color: $headingSmall;
			font-size: 18px
		}
		&__text{
			display: inline-block;
			position: absolute;
    		right: 20px;
		}
	}
	&__inner{
		.card-header{
			padding: 10px 0px;
			background-color: transparent;
			button{
				color: #242626;
				width: 100%;
				text-align: left;
				font-weight: 600;
			}
		}
	}
	&__contents{
		&__item{
			text-transform: uppercase;
    		letter-spacing: 1px;
    		color: #242626;
    		font-size: 12px;
    		position: relative;
    		label{

    			line-height: 21px;
			    display: inline-flex;
    		}
		}
	}
}