.contacts{
	padding-top: 50px;
	&__map{
		&__wrap{
			height: 500px;
		}
	}
	&__title{
		padding-top: 0;
		padding-bottom:	20px;
	}
	&__offices{
		&__item{
			padding-bottom: 50px;
			border-bottom: 1px solid $border-color;
		}
		&__title{
			span{
				display: inline-block;
    			padding-right: 10px;
			}
			h2{
			    display: inline-block;
				padding: 0;
				font-size: 15px;
				line-height: 27px;
				vertical-align: bottom;
			}
		}
		&__info{
			padding-left: 65px;
		    min-height: 120px;
		    padding-top: 20px;
			p{
				margin: 0
			}
			a{
				color: $link;
				text-decoration: underline;
				transition: all 0.2s linear;
				&:hover{
					color: $secondary;
					text-decoration: none;
				}
			}
		}
	}
	@media screen and (max-width: 570px) {
		&__offices{
			&__item{
				margin-bottom: 50px;
			}
		}
	}
}

.contact-section2{
	padding-top:100px;
	.contacts__title{

	}
	&-content{
		position: relative;
		&__text{
		    position: absolute;
		    left: 0;
		    width: 50%;
		    height: 100%;
		}
	}
	.button-container{
		text-align: right !important;
		padding:0px;
	}
	.map{
		position: absolute;
	    right: 0;
	    width: 50%;
	    height: 100%;
	}
	@media screen and (max-width: 570px) {
		.map{
			position: relative;
			width: 100%;
			height: 300px;
			margin-bottom: 50px;
			overflow: hidden;
		}
		.contacts__map{
			&__wrap{
				height: 300px;
			}
		}
		&-content{
			&__text{
				position: relative;
				width: 100%;
			}
		}
	}
}