
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .navigation {
    padding: 0;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
    &__top{
      text-align: center;
      position: relative;
      padding: 20px 0px 0px 0px;
    }
  }
  &.header--scrolled{
    .navigation{
      background-color: $main;
    }
  }
  .navbar-brand {
  	padding: 0;
    margin-right: 0px;
    display: none;
  }
  .menu{
    text-align: center;
    padding: 20px 0px;
    div{
      display: inline-block;
    }
    .menu-item{
      a{
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        margin: 0px 10px;
        letter-spacing: 0.5px;
        position: relative;
        transition: color 0.1s ease-out;
        &:hover{
          color: #ffffffbf;
        }
        &:before{
          content: '';
          display: block;
          position: absolute;
          bottom: -7px;
          left: 0;
          height: 3px;
          width: 100%;
          background-color: $white;
          transform-origin: right top;
          transform: scale(0, 1);
          transition: color 0.1s,transform 0.2s ease-out;
        }
        &:hover::before{
          transform-origin: left top;
          transform: scale(1, 1);
        }
      }

        &.current-menu-item{
          a{
            &:before{
              content: '';
              display: block;
              position: absolute;
              bottom: -7px;
              left: 0;
              height: 3px;
              width: 100%;
              background-color: $white;
              transform-origin: left top;
              transform: scale(1, 1);
            }
          }
        }
    }
  }
  .main-nav-container{
    background-color: transparent;
    width: 100%;
    .container{
      //width: 100%;
      height: 64px;
    }
    .navbar-brand{
      line-height: 64px;
      display: inline-block;
      position: absolute;
      img{
        height: 50px;
      }
    }
    .menu{
      width: 100%
    }
    .lang_menu{
      position: absolute;
      display: inline-block;
      line-height: 60px;
      top: 0;
    }
    .hamburger{
      display: none;
      z-index: 200;
      &:focus{
        outline: 0;
      }
    }
  }

  &.header--scrolled{
    .main-nav-container{
  
      .navbar-brand{
      
      
      }
      .menu{

      }
      .lang_menu{
        
      }
    }
  }

}
.admin-bar{

  header{
      top: 32px !important;
  }

}
.lang_menu{
    position: absolute;
    right: 20px;
    .lang-item{
      list-style: none;
      display: inline-block;
      opacity: 0.5;
      transition: all 0.1s ease-in-out;
      &.current-lang{
        opacity: 1;
      }
      &:hover{
        opacity: 1;
      }
      a{
        display: block;
        font-size: 14px;
        img{
          border-radius: 100%;
          width: 25px;
          height: 25px;
          border:2px solid #fff;
        }
      }
    }
}
@media only screen and (max-width: 600px){
  header{
    .navigation__top{
      display: none;
    }
    .main-nav-container{
      position: fixed;
      top: 0;
      .navbar-brand{
        display: inline-block;
        z-index: 200;
        
      }
      .menu{
        visibility: hidden;
        transition: all 0.2s linear;
        margin-top: -100vh;
        z-index: 100;
      }
      .lang_menu{
        z-index: 150;
        display: inline-block;
        visibility: hidden;
        margin-top: -100vh;
        transition: all 0.2s linear;
      }
      .menu-overlay{
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 170;
         background-color: #151515;
      }
    }
    &.menu-open{
      .main-nav-container{
        .menu{
          visibility: visible;
          margin-top: 0vh;
        }
        .lang_menu{
          visibility: visible;
          margin-top: 0vh;
        }
      }
    }
    

    .main-nav-container{
      width: 100%;
      z-index: 100;
      .container{
        width: 100%;
        max-width: unset;
        height: 64px;
      }
      .navbar-brand{
        line-height: 64px;
        position: absolute;
        img{
          height: 50px;
        }
      }
      .menu{
        width: 100%;
        position: absolute;
        top: 64px;
        height: 100vh;
        background-color: #151515;
        left: 0;
        ul{
          display: block;
          li{
            a{
              line-height: 40px;
            }
          }
        }
        div{
          padding-top: 50px;
        }
      }
      .lang_menu{
        top: 64px;
        width: 100%;
        text-align: center;
        left: 0;
      }
      .hamburger{
        display: block;
        position: absolute;
        right: 0px;
        line-height: 28px;
      }
    }
  }
}