.side-menu{
    position: absolute;
    right: 0;
    top: 45vh;
    padding-right: 30px;
    &__list{
        list-style: none;
        &__item{
            cursor: pointer;
            &.active{
                color: #fff;
            }
            &:hover{
                color: $secondary;
            }
            transition: all linear 0.2s;
        }
    }
}
.section{
    overflow: hidden;
    transition: all linear 0.2s;
}

.hero{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 570px;
}
#intro{
    border-bottom: 6px solid #1e1e1e;
    height: 100vh;
}
.portfolio{
    &__item{
        padding-top: 120px;
        padding-right:120px;
        &__image{
            img{
                width: 100%;
            }
        }
        &__info{

        }
    }
    &__title{
        position:relative;
        margin-bottom: 20px;
        h1{
            margin: 0;
            display: inline-block;
        }
        a{
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
        }

    }
}
#contact{
    margin-bottom: 100px;
}
.contact{
    padding-top:120px;
    max-width: 640px;
}
 @media only screen and (max-width: 840px){
    .portfolio{
        &__title{
            h1{
                display: block;
            }
            a{
                position:relative;

                display: block;
                right: unset;
                margin-top: 30px;
            }
        }
    }
 }
 @media only screen and (max-width: 600px){
    .section{
        overflow: hidden;
    }
    .portfolio{
        &__item{
            padding-right:0px;
            &__info{
                margin-bottom: 50px;
            }
            &__image{
                overflow: hidden;
            }
        }
    }
    .side-menu{
        position:relative;
        top: 0;
        &__list{
            &__item{
                font-size: 40px;
            }
        }

    }
 }