.job_qoute{
	p{

		color: #1892BF;
		font-size: 26px;
		line-height: 36px;
		font-weight: 300;
		width: 80%;
		margin: auto;
		text-align: center;
		padding-top: 100px;
		font-family: Rubik;
    	font-weight: 400;
		&:before{
			content: "";
			background: url("../../assets/images/qoute.svg") no-repeat center center;;
		    width: 25px;
		    height: 18px;
		    position: absolute;
		    top: 50px;
		    left: 50%;
		}
	}
}
.job-listing{
	width: 80%;
    margin: 90px auto 90px auto;
	&__title{
		font-size: 15px;
		text-align: center;
		font-weight: 600;
		color: $secondary;
		margin-bottom: 30px;
	}
	&__item{
		padding: 30px 20px;
		position: relative;
		border-top: 1px solid #DFDFDF;
		&__title{
			color: $secondary;
			font-weight: 700;
    		font-size: 20px;
		}
		&:last-child{
			border-bottom: 1px solid #DFDFDF;
		}
	}
	.button--read-more{
		position: absolute;
    	top: 50%;
    	right: 20px;
    	transform: translateY(-50%);
	}
	@media screen and (max-width: 570px) {
		&__item{
			&__title{
				font-size: 16px;
			}
		}
		.button--read-more{
			display: none;
		}
	}
}

.single-jobs{
	.entry-content{
		max-width: 600px;
	}
}

.jobs-info{
	&__icon{
		margin-right: 10px;
	}
	&__text{
		margin-left: 23px;
	}
}