.page-header{
	padding:80px 0px 70px 0px;
	text-align: center;
	background-color: $main;
	margin-bottom: 50px;
	&__title{
		padding-top: 30px;
    	color: $white;
    	text-transform: uppercase;
    	font-family: $heading-font;
    	h1{
    		font-size: 61px;
    		font-weight: 700;
    	}
	}

     @media screen and (max-width: 570px) {
     	padding: 20px 0 50px 0;
		margin-top: 60px;
     	&__title{
     		h1{
     			font-size: 32px;
    			font-weight: 700;
     		}
     	}
     }
	
}

.breadcrumbs{
	padding: 0;
	margin-top: 30px;
    margin-bottom: 0px;
    font-size: 13px;
	&__item{
		display: inline-block;
		list-style: none;
		a{
			color: $lighterText;
		}
	}
	&__separator{
		display: inline-block;
		list-style: none;
	}
}
.template-stores{
	.page-header{
		margin-bottom: 0px;
	}
}