.single-photoshoots{
	.entry-content{
		max-width: 100%;
		.wp-block-column:not(:first-child){
			margin-left: 5px;
		}
		.wp-block-column:not(:last-child){
			margin-left: 5px;
		}
		.wp-block-column{
			margin-left: 5px;
		}
	}
}
.ps{
	&-item{
		padding: 40px 0px;
		&__image{
			height: 500px;
		    width: 100%;
		    background-size: cover;
		    background-repeat: no-repeat;
		    float: left;
		    &__double{
		    	width: 50%;
		    }
		}
		&__title{
			font-size: 34px;
			line-height: 47px;
			color: $secondary;
			text-transform: uppercase;
			font-weight: 700;
			padding-top: 0px;
		}
		.button--read-more{
		    position: absolute;
		    right: 0;
		}
	}
	@media only screen and (max-width: 998px){
		&-item{
			&__image{
				height: 300px
			}
			&__title{
				padding-top: 20px;
				padding-bottom: 20px;
			}
			.button--read-more{
			    position: absolute;
			    right: 15px;
			}
		}
		

	}
}