.blog-item{
    border-bottom: 1px solid $border-color;
    margin: 0px 15px 20px 15px;
    padding-bottom: 45px;
	&__image{
		width: 100%;
		height: 200px;
	    background-size: cover;
	    background-position: center;
	    border-radius: 8px 8px 0px 0px;
		img{
			width: 100%;
			border-radius: 5px 5px 0px 0px;
		}
	}
	&__title{
		
		font-size: 15px;
    	text-transform: unset;
    	padding: 0px 15px;
    	a{
    		color: $secondary;
    		&:hover{
    			text-decoration: none;
    		}
    	}
	}
	&__category{
		font-size: 13px;
	    font-weight: 700;
	    text-transform: uppercase;
	    margin-top: 1em;
	    color: $main;
	    padding: 0px 15px;
	}

}
 .blog-item-a{
	&:hover{
		text-decoration: none;
		.blog-item__title{
			a{
				opacity: 0.7;
			}
		}
	}
}
.post-featured-image{
	margin-bottom: 50px;
	img{
		width: 100%
	}
}
.related-posts{
	&__nav{
		h2{
			display: inline-block;
		}
		&__controls{
			display: inline-block;
		    position: absolute;
		    right: 0;
		    padding: 70px 0px 50px 0px;
		}
	}
}
.post_terms{
    margin-bottom: 50px;
	&__list{
		padding: 0;
		list-style: none;
		&__item{
			display: inline-block;
			padding-right: 20px;
			a{
				text-transform: uppercase;
				padding: 9px;
    			border-radius: 20px;
    			font-size: 12px;
    			transition: all 0.1s linear;
    			font-weight: 700;
    			position: relative;
    			
		        &:hover{
		         	background-color:$secondary;
					color: $white;
		        }
			}
			&.active{
				a{
					background-color:$secondary;
					color: $white;
				}
			}
		}
	}
}