.button{
	color: $button-regular;
	padding:15px 20px;
	border:1px solid $button-regular;
	border-radius: 4px;
	transition: all 0.1s ease-in-out;
	background-color: transparent;
	&:hover{
		color: $button-regular-hover;
		border-color:$button-regular-hover;
		text-decoration: none;
	}
}
.close-button{
	width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 70px;
	span{
		height: 100%;
		position: relative;
		right: 0;
		svg{
			height: 100%;
			fill: #fff;
		}
	}
}