@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

$logo-font: 'Raleway', sans-serif;;
$heading-font: 'Exo 2', sans-serif;
$text-font: 'Lato', sans-serif;

p{
	font-family: $text-font;
}

h1{
	font-family: $heading-font;
	font-size: 50px;
	color: $white;
}
h2{
	font-family: $heading-font;
	font-size: 38px;
	color: $white;
}
.email{
	color: $secondary;
	&:hover{
		color: $secondary;
	}
}
@media only screen and (max-width: $mobile-breakpoint){
	h1{
		font-size: 32px;
	}
}
