$mobile-breakpoint: 600px;
$tablet-breakpoint: 900px;

@import "colors";
@import "fonts";
@import "buttons";
@import "transitions";
@import "animations";

*{
	box-sizing: border-box;
}
body{
	background-color: $black;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.main-content{
	margin-top: 140px;
}

.link{
	background-color: transparent;
	display: contents;
	border: 0;
	cursor: pointer;
	&:active{
		border: 0;
	}
	&:focus{
		outline: 0;
	}
}
.notfoundpage{
	p{
		text-align: center;
	}
	.heading{
		font-family: $heading-font;
		font-size: 55px;
		color: $white;
	}
	.text{
		font-size: 18px;
		font-family: $heading-font;
		color: $white;
		margin-bottom: 70px;
	}
}
@media only screen and (max-width: $mobile-breakpoint){
	.main-content{
		margin-top: 90px;
	}
}