.footer{
	padding-top: 75px;
	padding-bottom: 30px;
	h2{
		margin-bottom: 20px;
	}
	p{
		font-size: 15px;
		text-align: center;
		color: $white;
		letter-spacing: 1px;
		.email{
			font-size: 22px;
			padding-left: 5px;
			letter-spacing: 0px;
		}
	}
	.copyright{
		color: #b7b7b7;
		font-size: 13px;
	}
}