.navigation{
	position: fixed;
    height: 100vh;
    background-color: #000000e3;
    left: 0;
    top: 0;
    width: 400px;
    z-index: 9999;
    transition: all 0.1s ease-in-out;
    &__item{
    	font-size: 22px;
    	width: 100%;
    	color: $white;
    	font-weight: 600;
    	display: block;
    	text-align: center;
    	padding: 10px 0px;
    	&:hover{
    		color: $secondary;
    		text-decoration: none;
    	}
    }
	&__hide{
		visibility: hidden;
		left: -400px;
	}
	&__show{
		visibility: visible;
	}
	.menu{
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    width: 100%;
		.link{
			color: $white;
			display: block;
	    	width: 100%;
	    	font-size: 30px;
	    	font-family: $heading-font;
	    	padding: 10px 0px;
	    	&:hover{
				color: $secondary;
			}
		}
	}
}

.header{
	
	color: #fff;
	position: fixed;
    height: 60px;	
    top: 40px;
    width: 100%;
    z-index: 9999;
    transition: all 0.2s linear;
    .logo-font{
		font-family: $logo-font;
		font-size: 32px;
		font-weight: 400;
		line-height: 60px;
		transition: all 0.2s linear;
		.dot{
			opacity: 1;
		}
	}
    &.loading{
    	height: 100%;
    	background-color: $black;
    	.burger{
    		opacity: 0;
    	}
    	.logo-font{
    		line-height: 100vh;
    		.dot{
				opacity: 0;
			}
    	}
    }
    &.scrolled{
    	top: 0px;
    	background-color: $black;
    }
    .container{
    	height: 100%;
    }
	.burger{
		position: absolute;
	    left: 12px;
	    height: 100%;
	    top: 0;
	    opacity: 1;
	    transition: all 0.1s linear;
		button{
			border: 0;
			background-color: transparent;
			position: relative;
		    top: 50%;
		    transform: translateY(-40%);
		    padding: 0;
		}
	}
	
	.logo{
		position: absolute;
		left: 50%;
	    transform: translateX(-50%);
	    height: 100%;
	    top: 0;

		svg{
			height: 40px;
			position: relative;
			top: 50%;
    		transform: translateY(-50%);
		}
	}
}

@media only screen and (max-width: $mobile-breakpoint){
	.navigation{
		width: 100%;
	}
	.header{
		top: 0;
	}
}