.loading{
	position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: $black;
    color: $white;
    transition: height 0.2s linear;
    &.true{
    	opacity: 0;
    	height: 0vh;

    }
    &.false{
    	opacity: 1;
    }

}