
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap');

$heading-font: 'Raleway', sans-serif;
$heading-font-light: 'Raleway', sans-serif;
$main-font: 'Raleway', sans-serif;
/*COLORS*/
$black: #000000;
$white: #FFF;
$main: #FFC400;
$secondary: #4B0082;
$gray: #F7F7F7;
$textDark: #666666;
$lighterText: #7D7D7D;
$border_color: #E9E9E9;
$text: #808988;
$headingSmall: #242626;
$link: #1892BF;

body{
	background-color: #151515;
}
.container{
	width: unset;
	max-width: 1440px !important;
	padding: 0px 20px;
	    height: 100%;
}
.wrapper{
	height: 100% !important;
    margin: 0 auto;
    overflow: hidden;
}
.no-scroll{
	height: 100vh;
	overflow: hidden;
}
/* Typography */
p, a{
	font-family: $main-font;
	color: #808988;
	font-size: 16px;
}
a{
	&:hover{
		color: $secondary;
		text-decoration: none;
	}
}
h1{
	font-family: $heading-font;
	color: $white;
	margin-bottom: 20px;
}
h2{
	font-family: $heading-font;
	font-size: 34px;
    font-weight: 600;
    color: $secondary;
    padding: 70px 0px 50px 0px;
}
h3{
	font-family: $heading-font;
	color: $secondary;
}
h4{
	font-size: 15px;
    line-height: 27px;
    font-family: $heading-font;
    color: $secondary;
}
.text{
	font-size:13px;
	color: $text;
}
.link{
	text-decoration: underline;
	transition: all 0.1s ease-in-out;
	&--grey{
		color: #242626;
		&:hover{
			color: $secondary;
		}
	}
}
.hidden{
	display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.lead-text{
	    font-size: 16px;
    line-height: 30px;
}
.overlay{
	transition: all 0.2s linear;
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}
.entry-content{
	max-width: 800px;
	margin: auto;
	p{
		color: $text;
	    font-size: 15px;
	    font-weight: 400;
	}
	&__featured-image{
	    height: 350px;
	    background-size: cover;
	    background-position: center;
	    margin-bottom: 40px;
	    margin-top: 50px;
	}
	ul {
		font-size: 14px;
		line-height: 1.5em;
		margin: 5px 0 15px;
		padding: 0;
		li {
			list-style: none;
			position: relative;
			padding: 0 0 0 20px;
			line-height: 20px;
			color: #808988;
			font-family: $main-font;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 9px;
				width: 8px;
	      		display: block;
				border-top: 2px solid $secondary;
			}
		}
	}
}

@media (min-width: 992px){
	.container{
		max-width: 1100px;
	}
}